@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(29,29,29,1);
}
/* Navegador tamanho desktop*/
#desktop{
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    padding: 0.5rem 1rem 1rem 0rem;
    transition: all 500ms linear;
    height: 2rem;
    z-index:11;
}
#desktop .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#desktop .menuItem li{
    list-style: none;
    background-color: #292929;
    border: 1px solid #f2622e;
    border-radius: .2rem;
    padding: .3rem;
 
}
#desktop .menuItem {
    text-decoration: none;
    color: #ccc;
    font-weight: 600;
    margin: .2rem .5rem ;
}
/* Navegador desktop*/

/* Navegador caso seja mobile */
#mobile{
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    padding: 0.5rem 1rem 1rem 0rem;
    transition: all 500ms linear;
    height: 2rem;
    z-index:11;
}
#mobile .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#mobile .menuItem li{
    list-style: none;
    background-color: #292929;
    border: 1px solid #f2622e;
    border-radius: .2rem;
    padding: .3rem;
 
}
#mobile .menuItem {
    text-decoration: none;
    color: #ccc;
    font-weight: 600;
    margin: .2rem .5rem ;
}
@media screen and (max-width: 600px){
    #mobile{
        display: block;
    }
    #desktop{
        display: none;
    }
}
/* navegador mobile */
/* Cabeçalho */
header{
    display: flex;
    flex-wrap: wrap;
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 61%, rgba(242,98,46,1) 62%, rgba(191,30,15,1) 100%); 
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1054px){
    header{background:rgba(29,29,29,1);}
}
header #card{
    display: block;
    margin: 12rem 3rem;
    padding: auto;
}
header #card h1{
    color:#F2622E;
    font-weight: 700;
    font-size: 3rem;
}
header #card span , p{
    color: #ccc;
    font-weight: 600;
    font-size: 1.2rem;
}
header #card button{
    background-color: rgba(29,29,29,1);
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: #F2622E;
    padding: .5rem ;
    margin-top: 1rem;
    transition: .3s ease-out;
    font-weight: 600;
}
header #card button:hover{
    background-color: #F2622E;
    color: rgba(29,29,29,1);
    transform: scale(1.1);
}
header img{
    width: 20%;
    height: 30%;
}
@media screen and (max-width: 600px) {
    header img {
      display: none;
    }
  }
/* cabeçalho */
/* Sobre mim */
#about{
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#about .aboutCard{
    margin: auto 3rem;
    width: 30rem;
}
#about .aboutCard h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
#about .aboutCard hr{
    color: #F2622E;
    margin-bottom: 2rem;
    width: 6rem;
}
#about .extraBorder{
    border: .5rem solid #F2622E;
    margin: 10rem 8rem;
    width: 15rem;
    height: 20rem;
    color: rgba(29, 29, 29, 0);
}
@media screen and (max-width: 600px){
    #about .extraBorder{
        width: 200px;
        margin: 10rem auto;
    }
    
}
#about img{
    border: .5rem solid rgb(29, 29, 29);
    position: relative;
    bottom: 2rem;
    left: 1rem;
    width: 100%;
    height: 20rem;
    z-index: 10;
}

#about .btnProjects{
    background-color: #f2622e;
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: rgba(29,29,29,1);
    padding: .5rem ;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: .3s ease-out;
    font-weight: 600;
}
#about .btnProjects:hover{
    transform: scale(1.1);
}
#about .btnContact{
    background-color: rgba(29,29,29,1);
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: #F2622E;
    padding: .5rem ;
    margin-top: 1rem;
    margin-left: .1rem;
    transition: .3s ease-out;
    font-weight: 600;
}
#about .btnContact:hover{
    transform: scale(1.1);
}
/* sobre mim */
/* projetos */
#projects{
    background-color: rgba(29,29,29,1);
}
#projects .projectsCard{
    
    margin-left: 14.5rem;
    width: 40%;

}
#projects .projectsCard h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}
#projects .projectsCard hr{
    color: #F2622E;
    margin-bottom: 2rem;
    width: 6rem;
}
#projects .exemple{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
    
    
}
#projects .project{
    width: 30vw;
    margin: 2rem;
    text-align: center;
    border: 1px solid #F2622E;
    transition: .3s ease-out;
    box-shadow: 10px 5px 5px black;
    padding: 1rem;
}
#projects .project:hover{
    transform: scale(1.01);
    
}
#projects .project h3{
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem ;
}
#projects .project p{
   margin: 1rem;
}
#projects .project button{
    background-color: #f2622e;
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: rgba(29,29,29,1);
    padding: .5rem ;
    margin-top: 1rem;
    transition: .3s ease-out;
    font-weight: 600;
}
#projects .project button:hover{
    background-color: rgba(29,29,29,1);
    color: #F2622E;
    transform: scale(1.1);
}
#abiliity{
    padding: 3rem 10rem 3rem 10rem;
    background-color: #292929;
}
#abiliity h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}
#abiliity p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.icon{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.fa-html5{
    font-size: 2rem;
    color: orangered;
}
.fa-css3-alt{
    font-size: 2rem;
    color: rgb(0, 110, 255);
}
.fa-python{
    font-size: 2rem;
    color: rgb(155, 206, 13);
}
.fa-contao{
    font-size: 2rem;
    color: rgb(89, 0, 255);
}
.barra{
    display: flex;
    border: 1px solid #f2622e;
    border-radius: 1rem;
}
.html{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 70%;
}
.css{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 40%;
}
.python{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 80%;
}
.c{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 30%;
}
/* Seção de contato */

section#contact {
    padding: 3rem 10rem 3rem 10rem; /* Sentido horario: Cima, direita , baixo, esquerda */
    display: flex;
    justify-content: center;
    flex-wrap: flex;/* Quebra o conteúdo para a próxima linha caso não haja mais espaço para esse conteúdo na tela */
 }
 
 section#contact div#network{
    width: 100%; /* Faz com que a div rede ocupe 100% do espaço na tela */
 }
 
 section#contact div#network h3{
     /* Alinhamento centralizado do texto */
    font-size: 2.5rem; /* Tamanho da fonte do elemento */
    margin-bottom: 2rem; /* Margem para baixo do elemento */
    color: #ccc;
    width: 100%;
 }
 
 section#contact div#network div#icons{
    display: flex;
    justify-content: center;
 }
 
 section#contact div#network div#icons a{
    text-decoration: none; /* Tira o sublinhado e toda decoração de texto do link */
    color: #f2622e;
    font-size: 4rem;
    padding-left: 2rem;
    transition: all .4s ease-out; /*  Suavisa a transição de cores no hover */
 }
 
 /* o :hover serve para quando passar o mouse por cima do elemento fazer algo */
 section#contact div#network div#icons a:hover{
    color: #f57c50;
 }
 
 section#contact div#network div#icons a i{
    transition: all .4s ease-out;
 }
 
 section#contact div#network div#icons a i:hover{
    transform: scale(1.2);
 }
 
 section#contact div#form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 section#contact div#network hr{
    color: #F2622E;
    margin-bottom: 2rem;
    width: 6rem;
 }
 section#contact div#form h3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color:#ccc;
 }
 
 section#contact div#form form{
    width: 50%;
 }
 
 /* A virgula serve para estilizar dois elementos ao mesmo tempo */
 section#contact div#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin-top: .5rem;
    margin-bottom: 1rem;
    outline: none; /* Retira a borda do input quando clico dentro dele */
 }
 
 section#contact div#form form label{
    font-size: 1.2rem;
    color: #ccc;
 }
 
 section#contact div#form form button{
    border: 1px solid rgba(242,98,46,1);
    background-color: #f2622e;
    color: rgb(29, 29, 29,1);
    padding: 1rem;
    font-size: 1vw;
    font-weight: 600;
    border-radius: .5rem;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .6s ease-out;
    width: 40%;
 }
 
 section#contact div#form form button:hover{
    background-color: rgb(41, 41, 41);
    color: #F2622E;
    transform: scale(1.2);
 }
 footer p {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer hr {
    width: 60%;
    margin: auto;
    border: 0.2px solid #f2622e;
  }
  
  footer a#luis {
    text-decoration: none;
    color: #F2622E;
  }
  
  footer a#luis:hover {
    color: #ff01ed;
  }
  
  footer {
    margin-top: 3rem;
  }
/* Loader de carregamento */

section#contact div#carregamento{
    display: none; /* Deixa o display none para não aparecer até que você clique no botão enviar (ver JS) */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 100%;
    
  }
  
section#contact div#carregamento p{
    color: #F2622E;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
}
  
section#contact div#carregamento div#loader{
    border: 13px solid #fff;
    border-radius: 50%;
    border-top: 13px solid #f2622e;
    border-bottom: 13px solid #f2622e;
    width: 80px;
    height: 80px;
    /* Anima o elemento div#loader criando a variável spin, em 2s de forma linear e infinita */
    animation: spin 2s linear infinite;
}
  
  /* Anima a variável spin do animation */
@keyframes spin {
    0% {  /* Começa em 0% */
    transform: rotate(0deg); /* Rotação do elemento no 0° */ 
} 
100% { /* Vai até 100% */
    transform: rotate(360deg); /* Rotação do elemento em 360° */ 
}
}
  
  /* Loader de carregamento */
/* Página Send */

section#success{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(29,29,29,1);
    margin-top: 5%;
  }
  
  section#success div#card{
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 4rem;
    border-radius: 2rem;
    color: #f2622e;
    width: 40%;
  }
  
  section#success div#card h1{
    margin: 2rem 0rem;
  }
  
  section#success div#card i{
    font-size: 5rem;
    color: rgb(0,88,0);
  }
  
  section#success div#card h3{
    margin-bottom: 2rem;
  }
  
  section#success div#card p{
    margin-bottom: 3rem;
    width: 100%;
    word-break: break-word;
  }
  
  section#success div#card a{
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #f2622e;
    color:#f2622e;
    border-radius: .4rem;
    transition: all .4s ease-out;
  }
  
  section#success div#card a:hover{
    background-color: #f2622e;
    color: #fff;
  }  