@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(29,29,29,1);
}
/* Navegador tamanho desktop*/
#desktop{
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    padding: 0.5rem 1rem 1rem 0rem;
    transition: all 500ms linear;
    height: 2rem;
    z-index:11;
}
#desktop .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#desktop .menuItem li{
    list-style: none;
    background-color: #292929;
    border: 1px solid #f2622e;
    border-radius: .2rem;
    padding: .3rem;
 
}
#desktop .menuItem {
    text-decoration: none;
    color: #ccc;
    font-weight: 600;
    margin: .2rem .5rem ;
}
/* Navegador desktop*/

/* Navegador caso seja mobile */
#mobile{
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    padding: 0.5rem 1rem 1rem 0rem;
    transition: all 500ms linear;
    height: 2rem;
    z-index:11;
}
#mobile .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#mobile .menuItem li{
    list-style: none;
    background-color: #292929;
    border: 1px solid #f2622e;
    border-radius: .2rem;
    padding: .3rem;
 
}
#mobile .menuItem {
    text-decoration: none;
    color: #ccc;
    font-weight: 600;
    margin: .2rem .5rem ;
}
@media screen and (max-width: 600px){
    #mobile{
        display: block;
    }
    #desktop{
        display: none;
    }
}
/* navegador mobile */
/* Cabeçalho */
header{
    display: flex;
    flex-wrap: wrap;
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 70%, rgba(242,98,46,1) 71%, rgba(191,30,15,1) 100%); 
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1054px){
    header{background:rgba(29,29,29,1);}
}
/* Apresentação */
header #hello{
    margin: 10rem;

}
header #hello h1{
    color:#F2622E;
    font-weight: 700;
    font-size: 3rem;
}
header #hello span , p{
    color: #ccc;
    font-weight: 600;
    font-size: 1.2rem;
}
header #hello button{
    background-color: rgba(29,29,29,1);
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: #F2622E;
    padding: .5rem ;
    margin-top: 1rem;
    transition: .3s ease-out;
    font-weight: 600;
}
header #hello button:hover{
    background-color: #F2622E;
    color: rgba(29,29,29,1);
    transform: scale(1.1);
}
/* apresentação */
header img{
    margin: 0rem 0rem 0rem 5rem;
}
@media screen and (max-width: 600px) {
    header img {
      display: none;
    }
  }
/* cabeçalho */
/* Sobre mim */
#about{
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#about .aboutCard{
    margin: auto 3rem;
    width: 30rem;
}
#about .aboutCard h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
#about .aboutCard hr{
    color: #F2622E;
    margin-bottom: 2rem;
    width: 6rem;
}
#about .extraBorder{
    border: .5rem solid #F2622E;
    margin: 10rem 8rem;
    width: 15rem;
    height: 20rem;
    color: rgba(29, 29, 29, 0);
}
@media screen and (max-width: 600px){
    #about .extraBorder{
        width: 200px;
        margin: 10rem auto;
    }
    
}
#about img{
    border: .5rem solid rgb(29, 29, 29);
    position: relative;
    bottom: 2rem;
    left: 1rem;
    width: 100%;
    height: 20rem;
    z-index: 10;
}

#about .btnProjects{
    background-color: #f2622e;
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: rgba(29,29,29,1);
    padding: .5rem ;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: .3s ease-out;
    font-weight: 600;
}
#about .btnProjects:hover{
    transform: scale(1.1);
}
#about .btnContact{
    background-color: rgba(29,29,29,1);
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: #F2622E;
    padding: .5rem ;
    margin-top: 1rem;
    margin-left: .1rem;
    transition: .3s ease-out;
    font-weight: 600;
}
#about .btnContact:hover{
    transform: scale(1.1);
}
/* sobre mim */

/* projetos */
#projects{
    background-color: rgba(29,29,29,1);
    padding-top: 1rem;
    justify-items: center;
    align-items: center;

}
#projects .projectsCard{
    margin: 5rem 5rem .1rem;
    width: 40%;

}
#projects .projectsCard h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}
#projects .projectsCard hr{
    color: #F2622E;
    margin-bottom: 2rem;
    width: 6rem;
}
#projects .exemple{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
}
#projects .project{
    width: 20rem;
    margin: 2rem;
    text-align: center;
    border: 1px solid #F2622E;
    transition: .3s ease-out;
    box-shadow: 10px 5px 5px black;
    padding: 2rem;
    
}
#projects .project img{
    width: 100%;
}
#projects .project:hover{
    transform: scale(1.01);
    
}
#projects .project h3{
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem ;
}
#projects .project p{
   margin: 1rem;
}
#projects .project button{
    background-color: #f2622e;
    border: rgba(242,98,46,1) solid 1px ;
    border-radius: 2px;
    color: rgba(29,29,29,1);
    padding: .5rem ;
    margin-top: 1rem;
    transition: .3s ease-out;
    font-weight: 600;
}
#projects .project button:hover{
    background-color: rgba(29,29,29,1);
    color: #F2622E;
    transform: scale(1.1);
}
/* Projetos */

/* habilidades */
#abiliity{
    background-color: #292929;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
}
#abiliity h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}
#abiliity p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}
/* "Barras de progresso" */
#abiliity .icon{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    width: 80%;
    margin: auto;
    
}
.barra{
    display: flex;
    border: 1px solid #f2622e;
    border-radius: 1rem;
    width: 80%;
    margin: auto;
}
/* Habilidade HTML */
.html{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 70%;
}
.fa-html5{
    font-size: 2rem;
    color: orangered;
}
/* Habilidade HTML */
/* Habilidade CSS */
.css{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 40%;
}
.fa-css3-alt{
    font-size: 2rem;
    color: rgb(0, 110, 255);
}
/* Habilidade CSS */
/* Habilidade Python */
.python{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 80%;
}
.fa-python{
    font-size: 2rem;
    color: rgb(155, 206, 13);
}
/* Habilidade Python */
/* Habilidade C */
.c{
    background-color: #f2622e;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 30%;
}
.fa-cuttlefish{
    font-size: 2rem;
    color: rgb(12, 8, 245);
}
/* Habilidade C */
/* "Barras de progresso" */

/* Seção de contato */

#contact { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Redes sociais */
#network{
    width: 100%;
    padding: 6rem 0rem 1rem 6rem;
}
#network h3{
    font-size: 2.5rem;
    color: #ccc;
    width: 100%;
}
#network hr{
    color: #F2622E;
    margin-bottom: 2rem;
    width: 6rem;
}
#network p{
    margin-bottom: 1.5rem;
}
/* Icones das redes sociais */
#icons{
    display: flex;
    
    width: 100%;
    
}
#icons a{
    text-decoration: none;
    color: #f2622e;
    font-size: 3rem;
    padding-left: 2rem;
    transition: all .4s ease-out;
}
#icons a:hover{
    color: #f57c50;
}
 
#icons a i{
    transition: all .4s ease-out;
}
 
#icons a i:hover{
    transform: scale(1.2);
}

/* Formulário  */
#form{
    width: 100%;
    padding: 0rem 1rem 1rem 6rem;
}
#form hr{
    width: 6rem;
    color: #f2622e;
    align-self: left;
    margin-bottom: 2rem;
}
#form h3{
    width: 100%;
    font-size: 2.5rem;
    color:#ccc;
} 
#form p{
    margin-bottom: 1.5rem;
}
#form form{
    width: 95%;
}
#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin: .5rem 0rem 1rem 0rem;
    outline: none;
}
#form form label{
    font-size: 1.2rem;
    color: #ccc;
    width: 100%;
}
#form form button{
    border: 1px solid rgba(242,98,46,1);
    background-color: #f2622e;
    color: rgb(29, 29, 29,1);
    padding: 1rem;
    font-size: 1vw;
    font-weight: 600;
    border-radius: .5rem;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .6s ease-out;
    width: 40%;
    
}
#form form button:hover{
    background-color: rgb(41, 41, 41);
    color: #F2622E;
    transform: scale(1.2);
}
/* Footer */
footer p {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
footer hr {
    width: 80%;
    margin: auto;
    border: 0.2px solid #f2622e;
}
  
footer a#luis {
    text-decoration: none;
    color: #F2622E;
}
  
footer a#luis:hover {
    color: #ff01ed;
}
  
footer {
    margin-top: 3rem;
  }
/* Footer */

/* Loader de carregamento */
#carregamento{
    display: none; /* Deixa o display none para não aparecer até que você clique no botão enviar (ver JS) */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 100%;
}
#carregamento p{
    color: #F2622E;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
}
#loader{
    border: 13px solid #fff;
    border-radius: 50%;
    border-top: 13px solid #f2622e;
    border-bottom: 13px solid #f2622e;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);}
}
 
/* Loader de carregamento */

/* Página Send */
#success{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(29,29,29,1);
    margin-top: 5%;
}
  
#card{
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 4rem;
    border-radius: 2rem;
    color: #f2622e;
    width: 40%;
}
#card h1{
    margin: 2rem 0rem;
}
  
#card i{
    font-size: 5rem;
    color: rgb(0,88,0);
}
  
#card h3{
    margin-bottom: 2rem;
}
  
#card p{
    margin-bottom: 3rem;
    width: 100%;
    word-break: break-word;
}
  
#card a{
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #f2622e;
    color:#f2622e;
    border-radius: .4rem;
    transition: all .4s ease-out;
}
  
#card a:hover{
    background-color: #f2622e;
    color: #fff;
}  