<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luis Botelho</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="desktop">
        <ul class="menu">
            <a class="menuItem" href="#home"><li>Inicio</li></a>
            <a class="menuItem" href="#about"><li>Sobre Mim</li></a>
            <a class="menuItem" href="#projects"><li>Projetos</li></a>
            <a class="menuItem" href="#abiliity"><li>Habilidades</li></a>
           <a class="menuItem" href="#contact" class="center"><li>Contato</li></a>
        </ul>
    </nav>
    <nav id="mobile">
        <ul class="menu">
            <a class="menuItem" href="#home"><li><i class="fas fa-home"></i></li></a>
            <a class="menuItem" href="#about"><li><i class="fas fa-address-card"></i></li></a>
            <a class="menuItem" href="#projects"><li><i class="fas fa-project-diagram"></i></li></a>
            <a class="menuItem" href="#abiliity"><li><i class="fas fa-file-code"></i></li></a>
           <a class="menuItem" href="#contact" class="center"><li><i class="fas fa-id-card"></i></li></a>
        </ul>
    </nav>
    <header id="home">
        <div id="hello">
            <span>Olá,</span>
            <h1>Eu sou Luis Botelho</h1>
            <p>Estudante de programação</p>
            <a href="#about"><button>Saiba Mais</button></a>
        </div>
        <img src="../static/img/perfil.png" alt="Foto de perfil">
    </header>
    <section id="about">
        <article class="extraBorder">
            <div class="imgBorder">
                <img src="../static/img/rocket.gif" alt="">
            </div>
        </article>
        <article class="aboutCard">
            <h2>Sobre Mim</h2>
            <hr>
            <p>
                Amante da tecnoligia, skatista e designer, estudando programação e trabalhando como suporte,
                em busca de novos desafios e conhecimentos.
            </p>
            <a href="#projects"><button class="btnProjects">Projetos</button></a>
            <a href="#contact"><button class="btnContact">Contato</button></a>
        </article>

    </section>
    <section id="projects">
        <article class="projectsCard">
            <h2>Projetos</h2>
            <hr>
            <p>Meus primeiros passos como programador, projetos que me proporcionaram muito aprendizado e alegria.</p>

        </article>
        <article class="exemple">
            <div class="project">
                <h3>Jogo do Humor</h3>
                <img width="320" src="../static/img/sS1.png" alt="Eevolutions">
                <p>Consiste em um "jogo de alteração de humor, feito HTML, CSS e JS</p>
                <a href="https://github.com/luis-botelho/humor" target="blank"><button>Saiba Mais</button></a>
            </div>
            <div class="project">
                <h3>Tela de login</h3>
                <img width="320" height="180" src="../static/img/projeto1.PNG" alt="Responsive">
                <p>Tela de login interativa e responsiva feita usando HTML, CSS e JS, </p>
                <a href="https://github.com/luis-botelho/Responsive-Animated-Form" target="_blank"><button>Saiba
                        Mais</button></a>
            </div>
            <div class="project">
                <h3>Animação de fogo</h3>
                <img width="320" src="../static/img/projeto2.png" alt="fogo dom">
                <p>animação de fogo do game DOOM feita com HTML, CSS e JS</p>
                <a href="https://github.com/luis-botelho/Fogo-do-game-DOOM" target="_blank"><button>Saiba
                        Mais</button></a>
            </div>
            <div class="project">
                <h3>Game BlueSoul</h3>
                <img width="320" src="../static/img/projeto3.png" alt="Blue soul">
                <p>Jogo de ficção interativa feito python, para o projeto final da Blue Edtech</p>
                <a href="https://github.com/luis-botelho/BlueSoul" target="_blank"><button>Saiba Mais</button></a>
            </div>
        </article>
    </section>
    <section id="abiliity">
        <h2>Habilidades Técnicas</h2>
        <div class="icon">
            <i class="fab fa-html5"></i>
            <p>HTML 5</p>
        </div>
        <div class="barra">
            <span class="html">70%</span>
        </div>
        <div class="icon">
            <i class="fab fa-css3-alt"></i>
            <p>CSS</p>
        </div>
        <div class="barra">
            <span class="css">40%</span>
        </div>
        <div class="icon">
            <i class="fab fa-python"></i>
            <p>Python</p>
        </div>
        <div class="barra">
            <span class="python">80%</span>
        </div>
        <div class="icon">
            <i class="fab fa-cuttlefish"></i>
            <p>C</p>
        </div>
        <div class="barra">
            <span class="c">30%</span>
        </div>
    </section>
    <section id="contact">
        <div id="network">
            <h3>Se conecte comigo</h3>
            <hr>
            <p>Entre em contato em alguma das minhas redes sociais.</p>
            <div id="icons">
                <a href="https://www.linkedin.com/in/luis-botelho/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/luis-botelho" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/BotelhoDev/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/_LuisBotelho"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div id="form">
            <h3>Mande uma mensagem</h3>
            <hr>
            <p>Se preferir me mande um email.</p>
            <form action="/send" method="POST">
                <label for="nome">Nome</label>
                <input id="nome" name="nome" type="text">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email">
                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" cols="10" rows="5"></textarea>
                <button id="enviar" type="submit">Enviar</button>
            </form>
        </div>
        <div id="carregamento">
            <p>Enviando mensagem</p>
            <div id="loader"></div>
        </div>

    </section>
    
    <footer>
        <hr>
        <p>Todos os direitos reservados: <a id="luis" target="_blank" href="https://chat.whatsapp.com/CfNTHPTbWCg57M9chOudZW"> Luis Botelho
                </a> &copy;</p>
    </footer>
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>

</html>